<div class="offer-container">
  <div class="offer-title">{{ section_id.offer_heading }}</div>
  <div class="offer-cblokwrap">
    <div class="offer-block">
      <div class="offer-header">
        <div class="offleft">
          <span class="oftitle">{{ section_id.offer_1 }}</span>
          <span class="tag-lin">{{ section_id.offer_1_tagline }}</span>
        </div>
      </div>
      <div class="offer-bottom">
        <p class="offer-text">Code :- <span class="offer-code">{{ section_id.offer_1_code }}</span></p>
                <div class="copysvg">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.9993 6.66699H8.33268C7.89065 6.66699 7.46673 6.84259 7.15417 7.15515C6.84161 7.46771 6.66602 7.89163 6.66602 8.33366V15.0003C6.66602 15.4424 6.84161 15.8663 7.15417 16.1788C7.46673 16.4914 7.89065 16.667 8.33268 16.667H14.9993C15.4414 16.667 15.8653 16.4914 16.1779 16.1788C16.4904 15.8663 16.666 15.4424 16.666 15.0003V8.33366C16.666 7.89163 16.4904 7.46771 16.1779 7.15515C15.8653 6.84259 15.4414 6.66699 14.9993 6.66699Z" stroke="#272724" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M13.334 6.66634V4.99967C13.334 4.55765 13.1584 4.13372 12.8458 3.82116C12.5333 3.5086 12.1093 3.33301 11.6673 3.33301H5.00065C4.55862 3.33301 4.1347 3.5086 3.82214 3.82116C3.50958 4.13372 3.33398 4.55765 3.33398 4.99967V11.6663C3.33398 12.1084 3.50958 12.5323 3.82214 12.8449C4.1347 13.1574 4.55862 13.333 5.00065 13.333H6.66732" stroke="#272724" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
      </div>
    </div>
    <div class="offer-block">
      <div class="offer-header">
        <div class="offleft">
          <span class="oftitle">{{ section_id.offer_2 }}</span>
          <span class="tag-lin">{{ section_id.offer_2_tagline }}</span>
        </div>

      </div>
      <div class="offer-bottom">
        <p class="offer-text">Code :- <span class="offer-code">{{ section_id.offer_2_code }}</span></p>
                <div class="copysvg">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.9993 6.66699H8.33268C7.89065 6.66699 7.46673 6.84259 7.15417 7.15515C6.84161 7.46771 6.66602 7.89163 6.66602 8.33366V15.0003C6.66602 15.4424 6.84161 15.8663 7.15417 16.1788C7.46673 16.4914 7.89065 16.667 8.33268 16.667H14.9993C15.4414 16.667 15.8653 16.4914 16.1779 16.1788C16.4904 15.8663 16.666 15.4424 16.666 15.0003V8.33366C16.666 7.89163 16.4904 7.46771 16.1779 7.15515C15.8653 6.84259 15.4414 6.66699 14.9993 6.66699Z" stroke="#272724" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M13.334 6.66634V4.99967C13.334 4.55765 13.1584 4.13372 12.8458 3.82116C12.5333 3.5086 12.1093 3.33301 11.6673 3.33301H5.00065C4.55862 3.33301 4.1347 3.5086 3.82214 3.82116C3.50958 4.13372 3.33398 4.55765 3.33398 4.99967V11.6663C3.33398 12.1084 3.50958 12.5323 3.82214 12.8449C4.1347 13.1574 4.55862 13.333 5.00065 13.333H6.66732" stroke="#272724" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
      </div>
    </div>
    <div class="offer-block">
      <div class="offer-header">
        <div class="offleft">
          <span class="oftitle">{{ section_id.offer_3 }}</span>
          <span class="tag-lin">{{ section_id.offer_3_tagline }}</span>
        </div>
      </div>
      <div class="offer-bottom">
        <p class="offer-text">Code :- <span class="offer-code">{{ section_id.offer_3_code }}</span></p>
                <div class="copysvg">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.9993 6.66699H8.33268C7.89065 6.66699 7.46673 6.84259 7.15417 7.15515C6.84161 7.46771 6.66602 7.89163 6.66602 8.33366V15.0003C6.66602 15.4424 6.84161 15.8663 7.15417 16.1788C7.46673 16.4914 7.89065 16.667 8.33268 16.667H14.9993C15.4414 16.667 15.8653 16.4914 16.1779 16.1788C16.4904 15.8663 16.666 15.4424 16.666 15.0003V8.33366C16.666 7.89163 16.4904 7.46771 16.1779 7.15515C15.8653 6.84259 15.4414 6.66699 14.9993 6.66699Z" stroke="#272724" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M13.334 6.66634V4.99967C13.334 4.55765 13.1584 4.13372 12.8458 3.82116C12.5333 3.5086 12.1093 3.33301 11.6673 3.33301H5.00065C4.55862 3.33301 4.1347 3.5086 3.82214 3.82116C3.50958 4.13372 3.33398 4.55765 3.33398 4.99967V11.6663C3.33398 12.1084 3.50958 12.5323 3.82214 12.8449C4.1347 13.1574 4.55862 13.333 5.00065 13.333H6.66732" stroke="#272724" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const copyBtns = document.querySelectorAll('.copysvg');

    copyBtns.forEach((btn) => {
      btn.addEventListener('click', function () {
        const offerBlock = btn.closest('.offer-block');
        const code = offerBlock.querySelector('.offer-code').innerText;

        // Copy to clipboard
        navigator.clipboard.writeText(code).then(() => {
          // Show feedback
          let copiedMsg = document.createElement('span');
          copiedMsg.innerText = 'Copied!';
          copiedMsg.classList.add('copied-msg');

          btn.appendChild(copiedMsg);

          // Remove after 1.5s
          setTimeout(() => {
            copiedMsg.remove();
          }, 1500);
        });
      });
    });
  });
</script>

<style>
  .copied-msg {
    font-size: 10px;
    color: green;
    margin-left: 5px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    animation: fadeInOut 5s ease;
  }

  @keyframes fadeInOut {
    0% { opacity: 0; }
    20% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
  }
</style>

<style>
    .offer-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0;
    color: #121212;
    }
        .offer-block {
    padding: 14px;
    background: #fbefe4;
    position: relative;
    border-radius: 6px;
  }

  .offer-header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 60px;
  }

  .offleft {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
  }

  span.tag-lin {
    margin-top: 8px;
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    letter-spacing: 0;
    color: #272724d4;
  }

  span.oftitle {
      color: #121212;
      font-weight: 600;
      font-size: 16px;
      line-height: 120%;
      letter-spacing: 0;
  }

  p.offer-text {
    color: #050505;
    font-weight: 600;
    font-size: 15px;
    line-height: 120%;
    letter-spacing: 0;
    margin: 0;
  }

  .offer-bottom {
      display: flex;
      margin-top: 10px;
      padding-top: 10px;
      border-top: 2px dashed #c8c1bb;
      justify-content: space-between;
  }
  .offer-bottom .copysvg{
    line-height: 1;
    cursor: pointer;
}
.offer-container{
    margin: 0 0 30px;
}
  span.offer-code {
      color: #0E855B;
  }

  .offer-cblokwrap {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      margin-top: 10px;
  }

  .offer-block:after,.offer-block:before {
      content: '';
      position: absolute;
      display: block;
      width: 8px;
      height: 16px;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      background: #faf8f3;
      left: 0;
      bottom: 33%;
      z-index: 1;
  }

  .offer-block:after {
      right: 0;
      left: auto;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
  }
  @media only screen and (max-width: 991px) {
  .offer-block {
      flex: none;
  }

  .offer-cblokwrap {
      overflow: auto;
  }
  .desktop.banners{
    display: none;
  }
  .middlewrap {
      padding: 40px 10px;
  }
  .grid-three {
      grid-template-columns: 1fr;
    gap: 0;
  }
  .mobile.banners{
    display: block;
  }
  img.material_top {
      width: 100px;
  }
  }
  @media (max-width:768px){
   .offer-title{
      font-size: 16px;
    }
    span.oftitle{
      font-size: 14px;
    }
    span.tag-lin{
      font-size: 11px;
      margin-top: 5px;
    }
    p.offer-text{
      font-size: 12px;
    }
    .offer-bottom .copysvg{
      width: 16px;
      height: 16px;
    }
    .product-detail__information .trust-badge{
      margin-bottom: 1.6rem;
    }
  }
</style>
