{% style %}
#shopify-section-{{ section.id }} {
padding-top: {{ section.settings.padding_top }}px;
padding-bottom: {{ section.settings.padding_bottom }}px;
}
@media screen and (max-width: 768px) {
  #shopify-section-{{ section.id }} {
    padding-top: {{ section.settings.mobile_padding_top }}px;
    padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
  }
}
{% endstyle %}

<div class="section relative {{ section.settings.custom_class }} scroll-trigger animate--slide-in">
    <div class="pdp-banner pdp-new-banner">
        {% if section.settings.image_1 %}
        <img class="number-image desktop-image" src="{{ section.settings.image_1 | image_url }}" alt="" srcset="" height="" width="">
          {% endif %}
      {% if section.settings.image_2 %}
        <img class="number-image mobile-image" src="{{ section.settings.image_2 | image_url }}" alt="" srcset="" height="" width="">
        {% endif %}
    </div>
</div>

<style>
  .pdp-new-banner {
    width: 100%;
    overflow: hidden;
  }
    .section.cst-width .pdp-banner{
        max-width: 1530px;
        margin-inline: auto;
        padding-inline: 15px;
    }
  .pdp-new-banner img {  display: block; width: 100%; }
  .pdp-new-banner .mobile-image { display: none; }
  @media (max-width:768px){
    .pdp-new-banner .desktop-image { display: none; }
    .pdp-new-banner .mobile-image { display: block; width: 100%; }
    .section.relative.padding-left-right { padding-left: 16px; padding-right: 16px;}
  }
  
</style>

{% schema %}
{
"name": "pdp banner",
"settings": [
  {
    "type": "image_picker",
    "id": "image_1",
    "label": "Desktop Image"
  },
  {
    "type": "image_picker",
    "id": "image_2",
    "label": "Mobile Image"
  },
  {
    "type": "text",
    "id": "custom_class",
    "label": "Custom Class"
  },
  {
    "type": "range",
    "id": "padding_top",
    "min": 0,
    "max": 120,
    "step": 2,
    "unit": "px",
    "label": "Desktop Padding Top",
    "default": 80
  },
  {
    "type": "range",
    "id": "padding_bottom",
    "min": 0,
    "max": 120,
    "step": 2,
    "unit": "px",
    "label": "Desktop Padding Bottom",
    "default": 80
  },
  {
    "type": "range",
    "id": "mobile_padding_top",
    "min": 0,
    "max": 120,
    "step": 2,
    "unit": "px",
    "label": "Mobile Padding Top",
    "default": 40
  },
  {
    "type": "range",
    "id": "mobile_padding_bottom",
    "min": 0,
    "max": 120,
    "step": 2,
    "unit": "px",
    "label": "Mobile Padding Bottom",
    "default": 40
  },
],
  "presets": [
    {
      "name": "pdp banner"
    }
  ]
}
{% endschema %}

